<!DOCTYPE html>
<html lang='ko'>
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <div id="container" style="float:left">
      
    </div>
  </body>
</html>