<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-9">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/socket/client.js"></script>
    <script src="//code.jquery.com/jquery-latest.min.js"></script>
  </head>
  <body>
    <div id="container">
        <div id = "userlist_chat">
          <button id="send" onclick="submit()">나가기</button>
          <span style = " font-size:1.5em; margin-left: 22px">
          Userlist
          </span>
        </div>

        <div id="chat">
        </div>
        <div class="msg" style="position: absolute; top: 560px;border: 3px solid gray; border-radius: 10px; width:595px;height:44px">
          <input type="hidden" id="nick" value=<%= nick %>>
          <input type="text" id="input" placeholder="" onkeyup="enter()" style="width: 85% ; margin-top:3px">
          <button id="send" onclick="submit()" style="float:right;margin-top:6px">전송</button>
        </div>
    </div>
  </body>
</html>
