<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-9">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/socket/client.js"></script>
    <script src="//code.jquery.com/jquery-latest.min.js"></script>
  </head>
  <body>
    <div id="container">
        <div id = "userlist_chat">
          <span style = " font-size:1.5em;">
          Userlist

          </span>
        </div>

        <div id="chat"></div>
        <div id = "chatForm" class="msg">
          <input type="hidden" id="nick" value=nick >
          <input type="text" id="msg" placeholder="" onkeyup="enter()">
          <button id="send" onclick="submit()">전송</button>
        </div>
    </div>
  </body>
</html>
