<!DOCTYPE html>
<html lang='ko'>
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <div id="container2">
        <div id="chatView">
        </div>
        <form id="chatForm" onsubmit="return false">
            <input type="text" id="msg">
            <input type="submit" id="send" value="전송">
        </form>
    </div>
    <div id = "userlist">
        <span style = " font-size:1.5em;">
        Userlist
        </span>
        <form>
            <input type="button" id="exit" value="나가기">
        </form>
    </div>
  </body>
</html>
