<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-9">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="container" style="float:left">

      <form action="/login" method="POST">
        <div>
          <input name="username" type="text" placeholder="id">
        </div>
        <div>
          <input name="password" type="password" placeholder="password">
        </div>
        <div>
          <button type="submit">sign in</button><button>sign up</button>
        </div>
      </form>
    </div>
  </body>
</html>
