<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-9">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/" method="POST">
      <div>
        <input name= "nick" type="text" placeholder="닉네임">
        <button type="submit">확인</button>
      </div>
    </form>
  </body>
</html>
