<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-9">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/join" method="POST">
      <div>
        <input name="username" type="text" placeholder="id" id="nickname" style="text-align:center; font-size:20px; margin-top: 280px;">
      </div>
      <div>
        <input name="password" type="password" placeholder="password" id="nickname" style="text-align:center; font-size:20px;">
      </div>
      <div>
        <input name="password_check" type="password" id="nickname" placeholder="password_check" style="text-align:center; font-size:20px;">
      </div>
      <div>
        <input name="nick" type="text" placeholder="nickname" id="nickname" style="text-align:center; font-size:20px;">
      </div>
      <div>
        <button type="submit" id = "send">sign up</button>
      </div>
    </form>
  </body>
</html>
