<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-9">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/join" method="POST">
      <div>
        <input name="username" type="text" placeholder="id">
      </div>
      <div>
        <input name="password" type="password" placeholder="password">
      </div>
      <div>
        <input name="nick" type="text" placeholder="nickname">
      </div>
      <div>
        <button type="submit">sign up</button>
      </div>
    </form>
  </body>
</html>
