<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-9">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="container" style="border: 3px solid gray;">
      <span
      style="font-size: 50px;
      font-weight:900; margin-left: 18%">
          Enjoy your chat!
      </span>
      <form action="/join" method="POST">
        <div>
          <input name="username" type="text" placeholder="id" id="input" style="text-align:center; font-size:20px; margin-left: 16%; margin-top: 140px; width: 400px">
        </div>
        <div>
          <input name="password" type="password" placeholder="password" id="input" style="text-align:center; margin-left: 16%; margin-top: 30px; font-size:20px;width: 400px">
        </div>
        <div>
          <input name="password_check" type="password" id="input" placeholder="password_check" style="text-align:center; margin-left: 16%; margin-top: 30px; font-size:20px;width: 400px">
        </div>
        <div>
          <input name="nick" type="text" placeholder="nickname" id="input" style="text-align:center; margin-left: 16%; margin-top: 30px;margin-bottom: 50px; font-size:20px;width: 400px">
        </div>
        <div>
          <button type="submit" id = "send" style="margin-left: 44%">sign up</button>
        </div>
      </form>
    </div>
  </body>
</html>
