<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-9">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
        <div id="container">
            <div id = "userlist_roomlist" style="float: right;">
                <div id = "username">
                    <h>user id :</h>
                </div>
                <span style = " font-size:1.5em; font-family: Lobster">
                Userlist
                </span>
                <form>
                    <input type="button" id="exit" value="나가기" onclick="location.href='nick.html'">
                </form>
            </div>
            <div id="roomlist">
              <h style="font-size: 30px;font-family:fantasy;text-align: center">Room List</h>
              <button type = "button" onclick="location.href='chat.html'" id="send">방만들기</button>
            </div>
            <div>
                <div id="roomlist">
                    <div id="roomatt">방제</div>
                    <div id="roomatt">현/총</div>
                    <div id="roomatt">방장</div>
                    <div id="roomatt">비밀방여부</div>
                </div>
                <div id="roomlist">
                    <div id="roomatt">방제</div>
                    <div id="roomatt">현/총</div>
                    <div id="roomatt">방장</div>
                    <div id="roomatt">비밀방여부</div>
                    <button type = "button" onclick="location.href='chat.html'" id="send">입장</button>
                </div>
            </div>
        </body>
</html>
