<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-9">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
      <div id="container">
          <div id = "userlist">
              <div id = "username">
                  <h>user id :</h>
              </div>
              <span style = " font-size:1.5em; display: inline-block">
              Userlist
              </span>
              <form>
                  <input type="button" id="exit" value="나가기" onclick="location.href='nick.html'">
              </form>
          </div>
          <h style="font-size: 30px">Room List</h>
  
          <div>
              <div id="room">
                  1번방
                  <button type = "button" onclick="location.href='chat.html'">입장</button>
              </div>
              <div id="room">
                  2번방
                  <button type = "button" onclick="location.href='chat.html'">입장</button>
              </div>
              <div id="room">
                  3번방
                  <button type = "button" onclick="location.href='chat.html'">입장</button>
              </div>
                  <button type = "button" onclick="location.href='makeRoom.html'">방만들기</button>
              </div>
          </div>
      </body>
</html>
