body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#container2 {
    float: left;
    width: 800px;
    height: 930px;
    border: 5px solid gray;
    background: lightsteelblue;
    margin-left:548px;
    border-radius: 16px;
}

#container {
  width: 800px;
  height: 930px;
  border: 5px solid gray;
  background: lightsteelblue;
  border-radius: 16px;
  margin: 0 auto;
}
#nickname {
  width: 300px;
  height: 60px;
  border-radius: 8px;
  margin-bottom: 30px;
  margin-left:250px;
}
#sign {
  width: 100px;
  height: 50px;
  border-radius: 50px;
  background: black;
  color: white;
  margin-left:350px;
}

#userlist{
  width: 200px;
  height: 930px;
  border: 5px solid gray;
  background: white;
  margin:0 auto;
  border-radius: 16px;
}
#chatView {
  height: 94%;
  overflow-y: scroll;
}
#chatForm {
  height: 10%;
  border-top: 1px solid black;
  text-align: center;
}
#msg {
  width: 80%;
  height: 40px;
  border-radius: 100px;
}
#send {
  width: 16%;
  height: 34px;
  border-radius: 50px;
  background: black;
  color: white;
}
#exit {
    width: 50%;
    height: 50px;
    border-radius: 50px;
    background: black;
    color: white;
}
